.footer {
    padding: 100px 0 50px;
    overflow: hidden;
}

.footer__container {
    position: relative;
}

.footer__container::before {
    content: '';
    position: absolute;
    left: -170px;
    bottom: -200px;
    z-index: -1;
    width: 400px;
    height: 400px;
    background: linear-gradient(12deg, #F1018F 3%, #0066FF 97%);
    opacity: 0.3;
    filter: blur(125px);
    transform: rotate(6deg);
}

.footer__cta {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 125px;
}

.footer__cta .cta__text {
    font-size: 24px;
}

.footer__cta .cta__img {
    height: 80px;
}

.footer__cta .cta__links {
    gap: 60px;
}

.footer__row {
    font-family: "Avenir", sans-serif;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo-link {
    display: inline-block;
    margin-bottom: 15px;
}

.footer__contact {
    margin-bottom: 15px;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}