@media (max-width: 940px) {
    .welcome__cta {
        padding-right: 0;
    }

    .welcome__img {
        right: -190px;
    }

    .cta__text {
        font-size: 24px;
    }

    .mission__img {
        right: 440px;
    }

    .mission {
        padding: 150px 0;
    }

    .common__col, .mission__desc {
        max-width: 370px;
    }

    .mission__desc {
        /*width: unset;*/
        width: 273px;
    }
}

@media (max-width: 767px) {
    .logo {
        gap: 3px;
    }

    .logo__img {
        width: 70px;
    }

    .logo__text {
        width: 70px;
    }

    .header {
        padding: 20px 0;
    }

    .header__container {
        justify-content: space-between;
        gap: 0;
    }

    .header__login {
        /*display: none;*/
    }

    .welcome__row {
        min-height: 420px;
        margin-bottom: 40px;
    }

    .welcome__container::after {
        width: 700px;
        height: 826px;

        right: -140px;
        top: -444px;

        background-image: url("./images/bg-welcome-mobile.svg");
        transform: rotate(-90deg);
    }

    .welcome__img {
        top: -80px;
        width: 350px;
        right: 0;
    }

    .welcome__title {
        margin-bottom: 25px;
        font-size: 35px;
    }

    .welcome__text {
        padding-left: 0;
        font-size: 16px;
        width: 60%;
    }

    .welcome__text::before, .welcome__text::after {
        display: none;
    }

    .cta__img, .footer__cta .cta__img {
        height: 60px;
    }

    .cta__links, .footer__cta .cta__links {
        flex-direction: column;
        gap: 25px;
    }

    .cta {
        gap: 40px;
        flex-direction: column;
    }

    .mission {
        padding: 50px 0 0;
    }

    .mission__title::after {
        right: auto;
        left: -24px;
        top: -28px;
    }

    .mission__img {
        margin-top: -20px;
        width: 320px;
        position: static;
        transform: none;
        align-self: center;
    }

    .mission__container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .mission__desc {
        margin-left: unset;
    }

    .mission__title {
        font-size: 24px;
        margin-bottom: 25px;
    }

    .common__col, .mission__desc {
        max-width: unset;
    }

    h2 {
        font-size: 24px;
    }

    body {
        font-size: 16px;
    }

    .common {
        margin-top: 70px;
        padding: 0;
        background: none;
    }

    .common__container, .common:nth-child(even) .container {
        flex-direction: column-reverse;
        gap: 70px;
    }

    .scanner {
        margin-top: 0;
    }

    .common__img {
        align-self: center;
        width: 280px;
    }

    .scanner::before {
        background: linear-gradient(180deg, #000000 -2%, rgba(0, 0, 0, 0.67) 11%, rgba(0, 0, 0, 0) 55%, #000000 84%), url("./images/bg-scanner.jpg");
    }

    .code::before {
        background: linear-gradient(180deg, #000000 -2%, rgba(0, 0, 0, 0.67) 11%, rgba(0, 0, 0, 0) 55%, #000000 84%), url("./images/bg-code.jpg");
    }

    .common::before {
        content: "";
        display: block;
        margin-bottom: -100px;
        height: 300px;

        background-position: center;
        background-size: cover;
    }
}

@media (max-width: 520px) {
    .welcome__img {
        right: -170px;
    }

    .logo__img, .logo__text {
        width: 50px;
    }

    .header__login {
        font-size: 14px;
    }

    .footer {
        padding: 70px 0 30px;
    }

    .footer__cta {
        margin-bottom: 70px;
    }

    .footer__row {
        flex-direction: column-reverse;
        text-align: center;
        gap: 60px;
    }

    .footer__contact {
        margin-bottom: 10px;
    }

    .second__row {
        min-height: 270px;
    }
}
