.welcome {
    padding-bottom: 50px;
}

.welcome__container {
    position: relative;
}

.welcome__container::after {
    content: "";
    width: 650px;
    height: 790px;
    background-image: url("./images/bg-welcome.svg");
    position: absolute;
    right: -170px;
    top: -240px;
    z-index: -1;
    transform: rotate(-105deg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 80px;
}

.welcome__row {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    min-height: 700px;
}

.welcome__desc {

}

.welcome__title {
    margin-bottom: 130px;
    font-size: 64px;
    line-height: 1.09;
}

.welcome__text {
    font-size: 20px;
    padding-left: 100px;
    width: 380px;
    position: relative;
}

.welcome__text:before {
    content: "";
    width: 125px;
    height: 125px;
    position: absolute;
    left: 20px;
    top: -80px;
    background: rgba(96, 92, 234, 0.50);
    filter: blur(50px);
    animation: lighter 2s infinite alternate;
}

@keyframes lighter {
 0% {
     background: rgba(96, 92, 234, 0.3);
 }
    100% {
        background: rgba(96, 92, 234, 0.7);
    }
}

.welcome__text:after {
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    width: 135px;
    height: 4px;
    background-color: #fff;
    transform: rotate(120deg);
}

.welcome__img {
    width: 600px;
    position: absolute;
    right: -30px;
    top: -160px;
}

.welcome__cta {
    padding-right: 60px;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta__text {
    font-family: 'Montserraft', sans-serif;
    font-size: 35px;
    font-weight: 700;
}

.cta__links {
    display: flex;
    gap: 30px;
}

.cta__link {
    flex-direction: column;
    gap: 25px;
}

.cta {
    gap: 40px;
    flex-direction: column;
}
